doctype html


html(lang='en')
    head
        title= title
        block styles
            link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
            // My wonderful navbar
            nav.navbar.navbar-inverse
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href='/') CMPE 492
                    ul.nav.navbar-nav
                        li.active
                            a(href='/') Home
                        li
                            a(href='/blocks') Blocks
                        li
                            a(href='/transactions') Transfer Pool

                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/user/me')
                                | You are logged in as
                                | user@example.com

            .container
                h2 Blockchain powered eProcurement Network
                div.remark
                    h3 Address
                    p= message
                p.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.

                p.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                a.btn.btn-default Default

                a.btn.btn-primary( href="link.htm" ) Primary

                a.btn.btn-success Success

                a.btn.btn-info Info

                a.btn.btn-warning Warning

                a.btn.btn-danger Danger

                .list-group
                    .list-group-item( href="/page" )
                        h4.list-group-item-heading List group item heading
                        p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                    .list-group-item( href="#" )
                        h4.list-group-item-heading List group item heading
                        p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                    .list-group-item( href="#" )
                        h4.list-group-item-heading List group item heading
                        p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.



                form(role="form")
                    div.form-group
                        label(for="email") Address of the receiver address
                        input#email.form-control(type="email", placeholder="Enter address")
                    div.form-group
                        label(for="file") File to transfer
                        input#file.form-control(type="file", class = "custom-file-addressinput"  placeholder="Upload UBL file")
                    div.form-group
                        div.col-lg-offset-1.col-lg-3
                            a.btn.btn-primary(type="submit") Submit


