extends layout
block content

    .container
        h1 Blockchain powered eProcurement Network
        br
        br
        .list-group-item()
            h3.list-group-item-heading= "Address"
            p.list-group-item-text= message

        br
        br
        form(method="post", action="/transact")
            div.form-group
                label(for="address") Address of the receiver
                input#address.form-control(type="text", placeholder="Enter address", name='recipient' )
            div.form-group
                label File Content to transfer
                input#text.form-control(type="text",  placeholder="Upload UBL file", name='payload')
            div.form-group
                input(type='submit' value="Transfer Document")
