extends layout
block content

    ul
        if transfers.length !== 0
            each val, index in transfers
                li='Transfer  '  + index + ' : \n' + val
            br
            br
            a.btn.btn-primary(href='/mine-transactions') Mine
        else
            h3 Transfer pool is empty!
